*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
}

.col-100{
    width: 100%;
}

.col-25{
    width: 25%;
}

.col-75{
    width: 75%;
}

[class*="col-"]{
    float: left;
}

.row:after{
    content: "";
    clear: both;
    display: block;
}

#title{
    padding: 2%;
    font-size: 22px;
    color: #3F3B42;
    display: none;
}

#sidebar{
    display: none;
}

ul#sidebar{
    list-style-type: none;
    padding: 15% 0 0 5%;
    font-size: 15px;
}

#sidebar li{
    padding: 1%;
    cursor: pointer;
}

#sidebar li:hover{
    list-style-type: circle;
    text-shadow: 2px 2px 10px grey;
    transition: .7s linear;
}

#sidebar a{
    text-decoration: none;
    color: inherit;
}